<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <!-- dao bean -->
    <bean name="fundBaseDAO" class="com.longxi.data.dao.impl.FundBaseDAOImpl"/>
    <bean name="fundBondPositionDAO" class="com.longxi.data.dao.impl.FundBondPositionDAOImpl"/>
    <bean name="fundConfigDAO" class="com.longxi.data.dao.impl.FundConfigDAOImpl"/>
    <bean name="fundFeatureDAO" class="com.longxi.data.dao.impl.FundFeatureDAOImpl"/>
    <bean name="fundHolderDAO" class="com.longxi.data.dao.impl.FundHolderDAOImpl"/>
    <bean name="fundIndustryDAO" class="com.longxi.data.dao.impl.FundIndustryDAOImpl"/>
    <bean name="fundManagerDAO" class="com.longxi.data.dao.impl.FundManagerDAOImpl"/>
    <bean name="fundScaleDAO" class="com.longxi.data.dao.impl.FundScaleDAOImpl"/>
    <bean name="fundSharesPositionDAO" class="com.longxi.data.dao.impl.FundSharesPositionDAOImpl"/>
    <bean name="fundTurnoverDAO" class="com.longxi.data.dao.impl.FundTurnoverDAOImpl"/>
    <bean name="fundValueDAO" class="com.longxi.data.dao.impl.FundValueDAOImpl"/>
    <bean name="fundRecordDAO" class="com.longxi.data.dao.impl.FundRecordDAOImpl"/>

    <!-- service bean -->
    <bean name="fundBaseService" class="com.longxi.data.service.FundBaseService"/>
    <bean name="fundBondPositionService" class="com.longxi.data.service.FundBondPositionService"/>
    <bean name="fundConfigService" class="com.longxi.data.service.FundConfigService"/>
    <bean name="fundFeatureService" class="com.longxi.data.service.FundFeatureService"/>
    <bean name="fundHolderService" class="com.longxi.data.service.FundHolderService"/>
    <bean name="fundIndustryService" class="com.longxi.data.service.FundIndustryService"/>
    <bean name="fundListService" class="com.longxi.data.service.FundListService"/>
    <bean name="fundManagerService" class="com.longxi.data.service.FundManagerService"/>
    <bean name="fundScaleService" class="com.longxi.data.service.FundScaleService"/>
    <bean name="fundSharesPositionService" class="com.longxi.data.service.FundSharesPositionService"/>
    <bean name="fundTurnoverService" class="com.longxi.data.service.FundTurnoverService"/>
    <bean name="fundValueService" class="com.longxi.data.service.FundValueService"/>
    <bean name="fundDetailService" class="com.longxi.data.service.FundDetailService"/>
</beans>